In [5]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\workstation\appdata\local\programs\python\python311\lib\site-packages (1.0.3)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\workstation\appdata\local\programs\python\python311\lib\site-packages (2.0.12)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\workstation\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\workstation\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy) (2.0.2)

In [4]:
import pymysql
import pandas as pd
import sqlalchemy 
from sqlalchemy import create_engine as ce
from sqlalchemy import text
import socket

Latitude and Longitude data for state and districts are downloaded from internet and can be found in csv folder

**Lets create connection to Mysql datatbase**

In [7]:
user = 'root'
password = 'gigabyte'
host = 'localhost'
port = 3306
database = 'phonepe_database'
connection = ce ("mysql+pymysql://{0}:{1}@{2}:{3}/{4}".format(
            user, password, host, port, database
        ))

In [8]:
import pandas as pd
from sqlalchemy import create_engine, text

"""# Connect to the MySQL database
engine = create_engine('mysql+mysqlconnector://root:gigabyte@localhost:3306/phonepe_database')

# Define the SQL command to create a table
sql_create_table = text('CREATE TABLE Agg_Transaction_Table (MyIndex INT NOT NULL AUTO_INCREMENT, State INT, Year INT, Quater INT, Payment_Mode VARCHAR(50), Total_Transactions_count BIGINT, Total_Amount BIGINT, PRIMARY KEY (MyIndex))')

# Execute the SQL command to create the table
with engine.begin() as conn:
    conn.execute(sql_create_table)

# Load the data from a CSV file into a pandas dataframe
df = pd.read_csv('C:/Users/Workstation/Documents/Phonepe/data extracted/aggregated_transaction.csv')

# Insert the data from the dataframe into the MySQL database
df.to_sql('Agg_Transaction_Table', con=engine, if_exists='replace', index=False, chunksize=1000)
"""

"# Connect to the MySQL database\nengine = create_engine('mysql+mysqlconnector://root:gigabyte@localhost:3306/phonepe_database')\n\n# Define the SQL command to create a table\nsql_create_table = text('CREATE TABLE Agg_Transaction_Table (MyIndex INT NOT NULL AUTO_INCREMENT, State INT, Year INT, Quater INT, Payment_Mode VARCHAR(50), Total_Transactions_count BIGINT, Total_Amount BIGINT, PRIMARY KEY (MyIndex))')\n\n# Execute the SQL command to create the table\nwith engine.begin() as conn:\n    conn.execute(sql_create_table)\n\n# Load the data from a CSV file into a pandas dataframe\ndf = pd.read_csv('C:/Users/Workstation/Documents/Phonepe/data extracted/aggregated_transaction.csv')\n\n# Insert the data from the dataframe into the MySQL database\ndf.to_sql('Agg_Transaction_Table', con=engine, if_exists='replace', index=False, chunksize=1000)\n"

**Creating table in Mysql and inserting CSV and repeating the process**

In [9]:
sql = text('CREATE TABLE Agg_Transaction_Table (MyIndex INT NOT NULL AUTO_INCREMENT,State INT,Year INT,Quater INT,Payment_Mode VARCHAR(50),Total_Transactions_count BIGINT,Total_Amount BIGINT,PRIMARY KEY (MyIndex))')
with engine.begin() as conn:
    conn.execute(sql)
df = pd.read_csv('C:/Users/Workstation/Documents/Phonepe/data extracted/aggregated_transaction.csv')
df.to_sql('agg_transaction_table',con=connection, if_exists= "replace",index=False, chunksize=1000)

NameError: name 'engine' is not defined

In [10]:

sql2 = text('CREATE TABLE agg_userbydevice_table (MyIndex INT NOT NULL AUTO_INCREMENT,State INT,Year INT,Quater INT,Brand VARCHAR(50),Brand_count BIGINT,Brand_percentage BIGINT,PRIMARY KEY (MyIndex))')
# Execute the SQL command to create the table
with engine.begin() as conn:
    conn.execute(sql2)
df = pd.read_csv('C:/Users/Workstation/Documents/Phonepe/data extracted/aggregated_Brands.csv')
df.to_sql('agg_userbydevice_table',con=connection, if_exists= "replace",index=False, chunksize=1000)

NameError: name 'engine' is not defined

In [45]:
sql3 = text('CREATE TABLE district_map_transaction_table (MyIndex INT NOT NULL AUTO_INCREMENT,State INT,Year INT,Quater INT,District VARCHAR(50),Transaction_count BIGINT,Transaction_amount BIGINT,PRIMARY KEY (MyIndex))')
with engine.begin() as conn:
    conn.execute(sql3)
df = pd.read_csv('C:/Users/Workstation/Documents/Phonepe/data extracted/map_Transaction.csv')
df.to_sql('district_map_transaction_table',con=connection, if_exists= "replace",index=False, chunksize=1000)

14636

In [44]:
sql4 = text('CREATE TABLE district_map_registering_table (MyIndex INT NOT NULL AUTO_INCREMENT,State INT,Year INT,Quater INT,District VARCHAR(50),Registered_user BIGINT,App_opening BIGINT,PRIMARY KEY (MyIndex))')
with engine.begin() as conn:
    conn.execute(sql4)
df = pd.read_csv('C:/Users/Workstation/Documents/Phonepe/data extracted/map_users.csv')
df.to_sql('district_map_registering_table',con=connection, if_exists= "replace",index=False, chunksize=1000)

14640

In [ ]:
sql5 = text('CREATE TABLE top_transaction_table(MyIndex INT NOT NULL AUTO_INCREMENT,State VARCHAR(50),District VARCHAR(50),Transaction_count BIGINT, Transaction_amount BIGINT,PRIMARY KEY (MyIndex))')
with engine.begin() as conn:
    conn.execute(sql5)
df = pd.read_csv('C:/Users/Workstation/Documents/Phonepe/data extracted/top_transaction.csv')
df.to_sql('top_transaction_table',con=connection, if_exists= "replace",index=False)

In [81]:
sql6 = text('CREATE TABLE top_users_table(MyIndex INT NOT NULL AUTO_INCREMENT,State VARCHAR(50),District_Pincode VARCHAR(50),RegisteredUser BIGINT,PRIMARY KEY (MyIndex))')
with engine.begin() as conn:
    conn.execute(sql6)
df = pd.read_csv('C:/Users/Workstation/Documents/Phonepe/data extracted/Top_users.csv')
df.to_sql('top_users_table',con=connection, if_exists= "replace",index=False, chunksize=1000)

7140

Geo-visulation

In [13]:
sql7 = text('CREATE TABLE longitude_latitude_state_table (MyIndex INT NOT NULL AUTO_INCREMENT,Code VARCHAR(50),Latitude BIGINT, Longitude BIGINT, State VARCHAR(50),PRIMARY KEY (MyIndex))')
with engine.begin() as conn:
    conn.execute(sql7)
df = pd.read_csv('C:/Users/Workstation/Documents/Phonepe/data extracted/Longitude_Latitude_State_Table.csv')
df.to_sql('longitude_latitude_state_table',con=connection, if_exists= "replace",index=False, chunksize=1000)

36

In [14]:
sql8 = text('CREATE TABLE districts_longitude_latitude_table(MyIndex INT NOT NULL AUTO_INCREMENT,State VARCHAR(50),District VARCHAR(50),Latitude BIGINT, Longitude BIGINT,PRIMARY KEY (MyIndex))')
with engine.begin() as conn:
    conn.execute(sql8)
df = pd.read_csv('C:/Users/Workstation/Documents/Phonepe/data extracted//Data_Map_Districts_Longitude_Latitude.csv')
df.to_sql('districts_longitude_latitude_table',con=connection, if_exists= "replace",index=False, chunksize=1000)

732